<script id="edit-chat-modal-template" type="x-tmpl-mustache">
    <!-- Модальное окно для добавления пользователей -->
    <div class="modal fade" id="edit-chat-modal" tabindex="-1" aria-labelledby="edit-chat-modal" aria-hidden="true"
        data-bs-theme="dark">
        {{#data}}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editChatModalLabel">Редактировать чат</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="chatName" class="form-label">Название чата</label>
                        <input type="text" class="form-control" id="chatName" value="{{name}}" required>
                    </div>
                    <div class="mb-3">
                        <label for="users" class="form-label">Пользователи</label>
                        <table>
                        {{#users}} 
                        <span class="form-control modal-item user-item" data-id="{{id}}">
                            <span class="link" onclick="app.openUserInChat({{data.chatId}},{{id}})">{{login}}</span> <span class="remove-btn" onclick="event.stopPropagation(); app.banUser({{data.chatId}},{{id}});"> <i class="bi bi-x"></i> </span> 
                        </span>
                            <br>
                        {{/users}} 
                        </table>
                       
                    </div>
                    <button class="btn btn-primary" data-bs-dismiss="modal" onclick="app.editChat({{id}},{users:$('#edit-chat-modal .users').val(), name:$('#edit-chat-modal #chatName').val()})">Редактировать</button>
                    <button class="btn btn-danger" data-bs-dismiss="modal" onclick="app.deleteChat({{id}})">Удалить</button>
                </div>
            </div>
        </div>
        {{/data}}
    </div>
    </script>
