/* version 1.0.1 */
@font-face {
    font-family: Minimal;
    src: url("../fonts/TransformaSans_Trial-Regular.ttf") format("opentype");

}

@font-face {
    font-family: MinimalEng;
    src: url('../fonts/google.woff2')format('woff2');
    unicode-range: U+00-FF, U+980-9FF;
}


:root {
    color-scheme: dark;
    --main-color: #ffffff;
    --background-color: #171717;
}

body {
    height: 100%;
    overflow-y: hidden;
}

.list {
    height: 500px;
    overflow-y: auto;
    width: 500px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    line-height: 1.5;
    font-family: 'MinimalEng', 'Minimal';
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8 {
    color: var(--main-color);
    line-height: 1.5;
    font-family: 'MinimalEng', 'Minimal';
    text-align: left;
    margin: 0 0 20px;
}

p {
    color: #FFFFFF;
    padding-left: 30px;
    font-size: 15px;
    font-family: 'MinimalEng', 'Minimal';
}


.error {
    color: red;
    font-size: 15px;
    font-family: 'MinimalEng', 'Minimal';
}


span {
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'MinimalEng', 'Minimal';
}

.hr {
    border: 0;
    border-top: 2px dashed var(--main-color);
}

li {
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'MinimalEng', 'Minimal';
}

.element,
.btn,
.modal-content,
.form-control {
    color: white;
    filter: drop-shadow(1px 1px 1px rgb(255, 255, 255, 0.1));
    border-radius: 15px;
    /*background-color: rgba(var(--background-color),0.4) !important;*/
    background-color: var(--background-color);
    border-color: #262626;
    border-width: 2px;
}

input, textarea {
    background-color: rgba(var(--background-color), 0.4) !important;
}

.element::before,
.btn::before,
.modal-content::before,
.form-control::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;

    background-size: cover;
    width: 100%;
    height: 100%;
    /* background-image: url('../icons/background-4.jpg') !important; */
    filter: blur(4px);
    border-radius: 15px;
}



blockquote {
    border-left-style: dotted;
    border-left-width: 1px;
    border-left-color: gray;
    color: #8D8D8D;
    padding: 20px;
}

td {
    color: #FFFFFF;
    border-spacing: 20px;
    text-align: left;
    padding: 8px;
}

th {
    color: #FFFFFF;
    border-bottom: 1px dashed var(--main-color);
    text-align: left;
    padding: 8px;
}

dl {
    color: #FFFFFF;
    text-align: left;
    padding: 5px;
}

dt {
    color: #FFFFFF;
    font-weight: bold;
}

.smallimg {
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
}

.largeimg {
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.horizontalscroll {
    background-color: #242424;
    font-style: italic;
    overflow: auto;
    white-space: nowrap;
    color: #FFFFFF;
    padding: 10px;
}



ol {
    display: table;
    margin-left: 0;
    margin-right: auto;
    list-style-position: inside;
}

/*  font style  */
.bold {
    font-weight: bold;
}

.ital {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.overline {
    text-decoration: overline;
}

.strickthrough {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.keyword {
    color: #e86767;
    border: 1px solid gray;
    background-color: var(--background-color);
    padding: 2px 2px;
}

.link {
    color: #9f2727;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.w3-black,
.w3-hover-black:hover {
    color: #BAB9B9 !important;
    background-color: var(--background-color) !important
}

/* margin for button */
.leftmar {
    margin-left: 30px;
}

/* font colour*/
.gray {
    color: #8D8D8D;
}

.green {
    color: var(--main-color);
}

/* padding */
.topp {
    padding-top: 10px;
}

.left {
    padding-left: 30px
}

.mediumsize {
    font-size: 19px;
}


input[type="text"],
textarea,
input[type="email"],
input[type="password"],
input[type="submit"],
button {
    box-sizing: border-box;
    border-width: 1px;
    border-style: dashed;
    border-color: var(--main-color);
    outline: 0;

    /*background: var(--background-color);*/
    border-color: #bbb;
    color: white;
    border: 2px solid #676767;
    border-radius: 15px !important;

}

input[type="submit"]:hover,
button:hover {
    cursor: pointer;
    border-color: #6CBDEC;
}

input[type="text"]:focus,
textarea:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #888;

}




.form-control:disabled {
    background-color: rgb(45, 52, 61);
}


.form-control:focus {
    background-color: var(--background-color);
    border-color: #BAB9B9;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.form-control:focus,
.selected-item {
    border-color: #BAB9B9 !important;
    box-shadow: 0;
    outline: 0 none;
    color: white;
}

.btn.btn-primary:hover {
    color: #fff !important;
    background-color: #474747 !important;
    border-color: #BAB9B9;
    border-color: #dcdcdc !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25) !important;
}

.btn.btn-primary:focus {

    border-color: #dcdcdc !important;
    box-shadow: 0 0 0 0.2rem rgba(112, 112, 112, 0.25) !important;
}

.btn.btn-primary:active {
    color: #fff !important;
    background-color: #959494 !important;
    border-color: #dcdcdc !important;
    border-color: #BAB9B9;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25) !important;

}