<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link  th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <link  th:href = "@{/css/bootstrap-reboot.min.css}" rel="stylesheet">
    <link  th:href = "@{/css/common.css}" rel="stylesheet">
    <style>
        .app-container {
            display: flex;
            height: 100vh;
        }
        .chat-list, .chat-messages-section {
            padding: 1rem;
        }
        .chats-section {
            padding: 1rem;
            width: 30%;
            border-right: 1px solid #ddd;
            overflow-y: auto;
            color: blue;
        }
        .chat-messages-section {
            width: 70%;
            overflow-y: auto;
            color: blue;
        }
        .selected-item{
            color: red;
        }
        .chat-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem;
            cursor: pointer;
        }
        .chat-item:hover {
            background-color: #f0f0f0;
        }
        .remove-btn {
            margin-left: 0.5rem;
            color: red;
            cursor: pointer;
        }
        .message-time {
            font-size: 0.8rem;
            color: gray;
        }
        .add-chat-btn {
            margin-bottom: 1rem;
            width: 100%;
        }

        fade.in {
        opacity: 1; }
       
 .fade.show {
            opacity: 1;
        }
    
        .modal.in .modal-dialog {
        transform: translate(0, 0); }
       
 .modal.show .modal-dialog {
            transform: translate(0, 0);
        }
         .modal-backdrop.in {
        opacity: 0.5; }
       
 .modal-backdrop.show {
            opacity: 0.5;
        }
    </style>
</head>
<body>




<div th:insert="fragments :: include-js-libs"></div>

<script src="https://unpkg.com/htmx.org@1.6.1"></script>
<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>

<script src="https://unpkg.com/hyperscript.org@0.9.5"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>

<script type="text/javascript" th:src="@{/js/templates.js}"></script>
<script type="text/javascript" th:src="@{/js/api.js}"></script>

<script type="text/javascript" th:src="@{/js/socket-form-control.js}"></script>
<script type="text/javascript" th:src="@{/js/socket-action-control.js}"></script>

<!-- Модальное окно авторизации -->
<div class="modal" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true"  data-bs-theme="dark">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="authModalLabel">Авторизация</h5>
            </div>
            <div class="modal-body">
                <div id="authForm">
                    <div class="mb-3">
                        <label for="login" class="form-label">Логин</label>
                        <input type="text" class="form-control" id="login" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Пароль</label>
                        <input type="password" class="form-control" id="password" required>
                    </div>
                    <button  class="btn btn-primary" onclick="app.auth()">Войти</button>
                    <button  class="btn btn-primary" onclick="app.register()">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>


<!-- Модальное окно для ошибок -->
<div class="modal" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true"  data-bs-theme="dark">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="errorModalLabel">Ошибка</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="errorModalMessage">
                <!-- Сообщение об ошибке будет вставляться сюда -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary " data-bs-dismiss="modal" aria-label="Close">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для создания чата -->
<div class="modal" id="createChatModal" tabindex="-1" aria-labelledby="createChatModalLabel" aria-hidden="true"  data-bs-theme="dark">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createChatModalLabel">Создать чат</h5>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="chatName" class="form-label">Название чата</label>
                    <input type="text" class="form-control" id="chatName" required>
                </div>
                <div class="mb-3">
                    <label for="users" class="form-label">Пользователи</label>
                    <input type="text" class="form-control" id="users" required>
                </div>
                <button class="btn btn-primary btn-close" onclick="app.createChat()">Создать</button>
            </div>
        </div>
    </div>
</div>

 <!-- Основная часть приложения -->
 <div class="app-container" data-bs-theme="dark">
    <!-- Список чатов -->
    <div class="chats-section">
        <h5>Список чатов</h5>
        <button class="btn btn-primary add-chat-btn" data-toggle="modal" data-target="#createChatModal">Создать чат</button>
        <div class="chat-list"></div>
        <script id="chat-template" type="x-tmpl-mustache">
            <div class="btn chat-item" data-id="{{id}}" onclick="app.renderMessages({{id}})">
                <span>{{name}}</span>
                <span class="remove-btn" onclick="event.stopPropagation(); app.deleteChat({{id}});">-</span>
            </div>
        </script>
    </div>

    <!-- Сообщения чата -->
    <div class="chat-messages-section">
        <h5>Чат</h5>
        <script id="message-template" type="x-tmpl-mustache">
            <div class="message-item" data-id="{{id}}">
                <span>{{sender}} <span class="remove-btn" onclick="app.banUser({{senderId}});">-</span>: {{message}}  {{#isOwned}}<span class="remove-btn" onclick="event.stopPropagation(); app.deleteMsg({{id}});">-</span> {{/isOwned}}</span>
                <span class="message-time">{{sendTime}}</span>
            </div>
        </script>
        <div class="message-list"></div>
        <div class="input-group mt-3">
            <input type="text" id="messageInput" class="form-control" placeholder="Напишите сообщение...">
            <div class="btn btn-primary" onclick="app.sendMessage()">Отправить</button>
        </div>
    </div>
</div>

    <script th:inline="javascript">
        var api = window.api || null;
        var app = window.app || {};
        function App(){
            this.chats = [];
            this.updateChat = (id,data)=>{
                let idx = this.chats.map(o => o.id).indexOf(data.id);
                let messages = chats[idx].messages;
                this.chats[idx]=data;
                this.chats[idx].messages = messages;
            }
            this.updateOrCreateChat = (id,data)=>{
                let idx = this.chats.map(o => o.id).indexOf(data.id);
                if(idx==-1){
                    this.chats.push(data);
                    return;
                }
                let messages = chats[idx].messages;
                this.chats[idx]=data;
                this.chats[idx].messages = messages;
            }
            this.findChatById = (id)=>{
                return this.chats.find(chat=>chat.id == id);
            }
  
        
            

            this.onAddMsg = (chat,data)=>{
                chat.messages.push(data);

                $msgList = $('.message-list');
                $msgList.append(this.renderMsgTemplate(data));
            }
            this.onUpdateMsg=(chat,data)=>{
                
            }
            this.onDeleteMsg=(chat,data)=>{
               
                chat.messages = chat.messages.filter((e)=>e.id!=data.id);
                $(`.message-item[data-id=${data.id}]`).remove();

            }

            this.onAddChat = (data)=>{
                $(".chat-list").append(this.renderChatTemplate(data));
            }
            this.onDeleteChat = (data)=>{
                $(`.chat-item[data-id=${data.id}]`).remove();
                if(data.id == this.currentChatId){
                    $('.message-list').empty();
                }
            }
            this.onUpdateChat = (data)=>{
                
            }

            this.openChat = (id) => {
                this.currentChatId = parseInt(id);
                console.log( this.currentChatId);
                $(`.chat-item`).removeClass('selected-item');
                $(`.chat-item[data-id=${id}]`).addClass('selected-item');
                let chat = this.findChatById(id);
                console.log(chat);
                this.renderMessages(chat.messages || []);
            };

            this.createChat = ()=>{
                let users = $('#users').val();
                users = users.split(',');
                let name = $('#chatName').val();
                this.api.createChat({name:name, users:users});
            }

            this.receiveMsg = (chatId, m)=>{
                let op = m.operation;
                let data = m.data;
                let chat = this.findChatById(chatId);
                chat.messages = chat.messages || [];

                if(chatId!=this.currentChatId) return;
                if(op==="ADD") {
                    this.onAddMsg(chat,data);
                  
                }
                else if(op==="DELETE") {
                    this.onDeleteMsg(chat,data);
                }
                else if(op==="UPDATE") {
                    this.onUpdateMsg(chat,data);
                }
                if(chatId==this.currentChatId){
                    this.renderMessages(chatId);
                }
            }


            this.onError = (error)=>{
                if(error.message) error = error.message;
                $("#errorModalMessage").html(error);
                $("#errorModal").modal('show');;
            }

            this.initEvents = ()=>{
                $('.btn-close').on('click',function(e){
                    $(this).closest('.modal').modal('hide');
                })
            }


            this.init = ()=>{
                
                this.api = new MessengerApi({serverUrl: 'http://localhost:9087', brokerUrl:'ws://localhost:9087/ws', onConnect: (m)=>{
                this.chats = this.api.getChats();
               
                this.chats.forEach(el => {
                    this.api.subscribeOnMessagesInChat(el.id,(msg)=>this.receiveMsg(el.id,msg));
                });
                this.api.subscribeOnChats((m)=>{
                    let op = m.operation;
                    let data = m.data;
                    if(op==="ADD") {
                        this.chats.push(data);
                        this.api.subscribeOnMessagesInChat(data.id,(msg)=>this.receiveMsg(data.id,msg));
                        this.onAddChat(data);
                    }
                    else if(op==="DELETE") {
                        
                        this.chats = this.chats.filter((e)=>e.id!=data.id);
                        this.onDeleteChat(data)

                        
                    }
                    else if(op==="UPDATE") {
                        this.updateChat(data.id,data);
                        this.onUpdateChat(data);
                    }
                    //this.renderChats();
                 });

                 this.renderChats();


                },
                onError:this.onError});

                $("#authModal").modal('show');

                this.initEvents();
         
              
           
        
            }
            this.auth = ()=>{
                this.token = this.api.authUser({"login": $('#login').val(), "password": $('#password').val()});
                if(!this.token) return;
                this.api.initSocketClient(this.token);
                this.api.socketClientConnect();
                
                $("#authModal").modal('hide');
                
            }

            this.register = ()=>{
                let data = {"login": $('#login').val(), "password": $('#password').val()};
                this.api.registerUser(data);
                this.auth();
                
            }


            this.deleteChat = (id) =>{
                this.api.deleteChat(id);
            }

            this.deleteMsg = (id) =>{
                this.api.deleteMessage(this.currentChatId, id);
            }

            this.banUser = (id)=>{
                this.api.banUserFromChat(id, this.currentChatId);
            }
            this.renderChats = ()=>{
                const template = $('#chat-template').html();
                console.log('rendering chats');
                let $chatList = $('.chat-list');
                $chatList.empty();
                $.each(this.chats, function(index, el) {
                    const rendered = Mustache.render(template, el);
                    $chatList.append(rendered);
      
                });
            }
            this.renderMessages = (chatId)=>{
                this.currentChatId = chatId;
        
                let userId = this.token.userId;
                const template = $('#message-template').html();
                console.log('rendering chat '+ chatId);
                let chat = this.findChatById(chatId);
                chat.messages = this.api.getMessagesFromChat(chatId);
                $msgList = $('.message-list');
                $msgList.empty();
                chat.messages&& $.each(chat.messages, function(index, el) {
                    el.isOwned = userId==el.senderId;
                    
                    const rendered = Mustache.render(template, el);
                    $msgList.append(rendered);
      
                });
            }

            this.renderChatTemplate = (chat)=>{
                const template = $('#chat-template').html();
                const rendered = Mustache.render(template, chat);
                return rendered;
            }
            this.renderMsgTemplate = (msg)=>{
                const template = $('#message-template').html();
                const rendered = Mustache.render(template, msg);
                return rendered;
            }

            this.sendMessage = ()=>{
                let message = $('#messageInput').val();
                if (message && this.currentChatId) {
                    this.api.sendMessageToChat(this.currentChatId, message);
                    $('#messageInput').val('');
                }
            }

        }
        $(()=>{
           app = new App();
           app.init();

           const observer = new MutationObserver((mutations) => {
              mutations.forEach((mutation) => {
                mutation.addedNodes.forEach((node) => {
                  if (node.nodeType === 1 && !node["htmx-internal-data"]) {
                    htmx.process(node)
                  }
                })
              })
            })
            observer.observe(document, {childList: true, subtree: true})
           
        });
   </script>
</body>
</html>