<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link  th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <link  th:href = "@{/css/bootstrap-reboot.min.css}" rel="stylesheet">
    <link  th:href = "@{/css/common.css}" rel="stylesheet">
    
</head>
<body>
<br>
<br>
<br> <br> <br>
<span> List of chats: <span>
<!--<div th:each="chat : ${chats}">
    <a th:if="${chat}" th:text="${chat?.name}" th:href="@{'/chat/' + ${chat?.id}}"></a>
    <br>
</div>-->


<div th:insert="fragments :: include-js-libs"></div>
<script type="text/javascript" th:src="@{/js/templates.js}"></script>
<script type="text/javascript" th:src="@{/js/api.js}"></script>

<script type="text/javascript" th:src="@{/js/socket-form-control.js}"></script>
<script type="text/javascript" th:src="@{/js/socket-action-control.js}"></script>


    <script th:inline="javascript">
        var api = window.api || null;
        $(()=>{
           api = new MessengerApi({serverUrl: 'http://localhost:9087', brokerUrl:'ws://localhost:9087/ws', onConnect: (m)=>{
            api.getChats();
            api.subscribeOnChats();
            api.subscribeOnMessagesInChats();
           }});
           token = api.authUser({"login": "aboba1", "password": "aboba"});
           api.initSocketClient(token);
           api.socketClientConnect();
           
        });
   </script>
</body>
</html>