<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'chat' + ${chat?.name}"></title>
    <link  th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <link  th:href = "@{/css/bootstrap-reboot.min.css}" rel="stylesheet">
</head>
<body>

<br>
<div id="messages">
    <ul class="list data-elem"  id="msg-list" th:data-url="@{'/topic/chat/' + ${chat.id}} + '/messages'"></ul>
<!--<ul class="list" th:each="message : ${messages}">
    <li th:if="${message}" th:text="${message?.senderId} + ' --- ' + ${message?.sender} + ' --- ' + ${message?.message}"></li>
</ul>-->
</div>
<br>
<br>
<form class = "socket-form" th:action="@{'/app/chat/' + ${chat.id}} + '/send'" method="post">
    <div>
        <span>write msg:</span><input type="text" name="message" placeholder="..."/>
        <input type="hidden" name="senderId" th:value="${user.id}"/>
        <input type="submit" value="send" />
    </div>

</form>
<script th:inline="javascript">
    /*<![CDATA[*/

    var loginUserName = /*[[${user.login}]]*/ 'User Name';
    var chatId = [[${chat.id}]];
    var userId = [[${user.id}]];
    var messages = [[${messages}]];
    console.log("chatId: "  + chatId);

    /*]]>*/
</script>
<div th:insert="fragments :: include-js-libs"></div>
<script type="text/javascript" th:src="@{/js/socket-form-control.js}"></script>
<script type="text/javascript" th:src="@{/js/client.js}"></script>
<script type="text/javascript" th:src="@{/js/chat.js}"></script>
</body>
</html>