<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'chat' + ${chat?.name}"></title>
    <link  th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <link  th:href = "@{/css/bootstrap-reboot.min.css}" rel="stylesheet">
    <link  th:href = "@{/css/common.css}" rel="stylesheet">
</head>
<body>
<h3 th:text="'User: '+${user?.login}"></h3>
<br>
<div id="messages">
    <ul data-bind="foreach: messages" class="list data-elem"  id="msg-list" th:data-url="@{'/topic/chat/' + ${chat.id}} + '/messages'">
        <!--<li point-component="messages" class = "message">
            <span>user: <a href="/users/profile/${msg.senderId}"> {{sender}} </a> </span> 
            <span>time: {{sendTime}}</span> 
            <span>message: {{message}}</span>
            <button class="socket-action" th:data-url="@{'/app/chat/' + ${chat.id}} + '/delete'" data-data="aboba">delete</button> 
        </li> -->
        <li class = "message">
            <a data-bind="text: sender, attr: { href: `/users/profile/${senderId}`} "> </a>
            <span data-bind="text: sendTime"></span> 
            <span data-bind="text: message"></span>
            <button class="socket-action"  data-data="aboba" data-bind="attr: { 'data-url' : `/app/chat/${chatId}/delete/${id}`} ">delete</button> 
        </li>
    </ul>
<!--<ul class="list" th:each="message : ${messages}">
    <li th:if="${message}" th:text="${message?.senderId} + ' --- ' + ${message?.sender} + ' --- ' + ${message?.message}"></li>
    @{'/app/chat/' + ${chat.id}} + '/delete/'+{{id}} th:data-url="@{'/app/chat/' + ${chat.id}} + '/delete'"
</ul>-->
</div>
<br>
<br>
<form name="message-send" class = "socket-form" th:data-url="@{'/app/chat/' + ${chat.id}} + '/send'" method="post">
    <div id="message-send-container">
        <span>write msg:</span><input type="text" name="message" placeholder="..."/>
        <input type="hidden" name="senderId" th:value="${user.id}"/>
        <input type="submit" value="send" />
    </div>

</form>
<script th:inline="javascript">
    /*<![CDATA[*/

    var loginUserName = /*[[${user.login}]]*/ 'User Name';
    var chatId = [[${chat.id}]];
    var userId = [[${user.id}]];
    var messages = [[${messages}]];
    console.log("chatId: "  + chatId);

    /*]]>*/
</script>
<div th:insert="fragments :: include-js-libs"></div>
<script type="text/javascript" th:src="@{/js/templates.js}"></script>
<script type="text/javascript" th:src="@{/js/client.js}"></script>
<script type="text/javascript" th:src="@{/js/chat.js}"></script>
<script type="text/javascript" th:src="@{/js/socket-form-control.js}"></script>
<script type="text/javascript" th:src="@{/js/socket-action-control.js}"></script>

</body>
</html>