<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link  th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <link  th:href = "@{/css/bootstrap-reboot.min.css}" rel="stylesheet">
</head>
<body>
<span th:text="${user?.login}"></span>
<br>
<br>
<a th:href="@{/chat/create}">create chat</a>
<br> <br> <br>
List of chats:
<div th:each="chat : ${chats}">
    <a th:if="${chat}" th:text="${chat?.name}" th:href="@{'/chat/' + ${chat?.id}}"></a>
    <br>
</div>
</body>
</html>